<br>
<div class="col-md-12 form-group visa-applications-form center-text">
  <h2>
    <strong>Спасибо, мы собрали всю необходимую информацию!</strong>
  </h2>
  <h4>
      <div class="small-text center-text">
        <small class="text-muted-3">Немного магии и вы получите готовую анкету.</small>
      </div>
  </h4>
</div>

<div class="image center-image-1">
  <%= image_tag("ghjnmd.png", :alt => "rss feed") %>
</div>

<div class="visa-applications-button-flow center-button">
  <%= link_to 'Отслеживать визу', (:account), class: "btn finbtn" %>
</div>
