<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page"><%= link_to 'Все визы', admin_forms_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Создание визы</li>
  </ol>
</nav>

<h1>Создание новой визы</h1>
<br><br>

<%= render 'form' %>
